.senderContainer {
    display : flex;
    margin-bottom : 10px;
}
input[name='senderMailAddress'] {
    border : none;
}
.senderInputContainer {
    border-bottom : 1px solid black;
    width:90%;
}
.width90{
    width : 90%;
}
.senderContainer>div:first-child {
    width:7%;
}
.receiverContainer>div:first-child {
    width:7%;
}
.mailTitleContainer>div:first-child {
    width:7%;
}
.myborder-bottom{
    border-bottom : 1px solid black;
}
.receiverContainer {
    display : flex;
    margin-bottom : 10px;
}
.nonestyle-input {
    border : none;
    background-color : inherit;
}
.flex-divcontainer {
    display:flex;
}
.boldtext {
    font-weight : bold;
}
.padding-top3{
    padding-top : 3px;
}
.nostyle-btn {
    border : none;
    background-color : inherit;
}
.mailTitleContainer {
	margin-bottom : 10px;
}
.finishing-receiver-input {
    border-radius : 10px;
    text-align : center;
    border : none;
    background-color : white;
    margin-bottom : 3px;
}
.width-7 {
	width : 7%;
}