@charset "UTF-8";
.mb-3 {
	display : flex;
}
.optionContainer {
	padding-left : 64px;
	width : 50%;
}
.form-select {
	width : 120px;
	display : inline;
}
.headerTitle {
	width : 12%;
}
.search-container {
	width : 30%;
}

.modal {
	position:absolute;
	display:none;
	border-radius : 10px;
	
	/* justify-content:center; */
	/* border:1px solid red; */
	
	left:566PX;
	top:70px;
	
	width:36%;
	height:20%;
	
	background-color:white;
}
.button {
	width:100%;
	height:100%;
	border-bottom:1px solid gainsboro;
	padding-top:5px;
	padding-bottom:5px;
}

.button button{
	width:100%;
	height:100%;
	background-color:white;
	border:none;
	text-align:left;
}

.searchType {
	font-size:15px;
}