@charset "UTF-8";

	
	body{
		margin: 0;
	    padding: 0;
	}
	      
    #chatting_main{
      	width: 100%;
      	/* border: 1px solid red; */
		display: flex;
		/* margin-right: 200px; */
	}
	
	
	/* aside 시작 */
	#chatting_main_aside{
		width: 80px;
		position: fixed;
		bottom: 0;
		/* border: 1px solid red; */
		/* height: 100px; */
	}
	
	#chatting_main_content{
		width: calc(100% - 80px);
		margin-left: 80px;
		/* margin-right: 200px; */
		/* border: 1px solid red; */
		/* height: 100px; */
	}
	
	/* 어사이드 전체 */
        #chatting_aside{
            /* border: 1px solid red; */
            width: 80px;
            height: 100vh;
            background-color: #e5edfb;
            padding-top:40px;
        }
        
        /* 어사이드 아이콘 영역 */
        #chatting_aside_icon_area{
            /* border: 1px solid blue; */
            width: 100%;
            margin-top: 40px;
        }

        /* 아이콘 */
        .chatting_aside_icon{
            /* border: 1px solid greenyellow; */
            height: 80px;
            width: 100%;
            align-items: center;
        }

        .chatting_aside_icon:not(:last-child){
            margin-bottom: 10px;
        }

		.chatting_aside_icon>button{
			background-color: transparent;
			border: 0;
			cursor: pointer;
		}
		/* aside 끝 */
	
	
	/* userlist 시작 */
	#chatting_userlist{
       /*  border: 1px solid red; */
        width: 100%;
        /* height: 100vh; */
        display: flex;
        flex-direction: column;
        
    }

        /* 검색창 */
        /* #chatting_userlist_search{
            border: 1px solid blue;
            width: 100%;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: -2px;
            padding-top: 20px;
            position: fixed;
            background-color: white;
        }

        #chatting_userlist_search>div{
            border: 1px solid black;
            width: 100%;
            height: 40px;
            background-color: aqua;
            border-radius: 15px;
            display: flex;
            align-items: center;
            
           
            margin: 0 100px 0 20px;
        }

        #chatting_userlist_search>div>img{
            border: 1px solid red;
            margin-left: 10px;
        }

        #chatting_userlist_search>div>input{
            border: 1px solid red;
            height: 80%;
            width: 100%;
           	border: 0;
        }

        #chatting_userlist_search>div>p{
            border: 1px solid red;
            height: 100%;
            font-size: 20px;
            align-content: center;
            margin-left: auto;
            margin-right: 10px;
            cursor: pointer;
        } */
        /* 검색창 끝 */
        
        #chatting_userlist_printarea_all_headline{
        	/* background-color: #e5edfb; */
        	background-color: white;
        	position: fixed;
        	width: 100%;
        	height: 60px;
        	z-index: 1;
        }
        
        #chatting_userlist_printarea_all_headline>h2{
        	color: #4d4d4d;
        	margin: 20px 0 0 20px;
        }
        
        
        
        #chatting_userlist_printarea_all{
            margin-top: 60px;
            padding: 0 20px 0 20px;
        }

        .chatting_userlist_printarea{
            /* border: 1px solid red; */
            width: 100%;
        }
        
        .chatting_userlist_printarea>div:hover{
        	background-color: #b3b3b324;
        }

        .chatting_userlist_printarea_profile{
            display: flex;
            margin-bottom: 10px;
        }

        /* .chatting_userlist_printarea_profile>button{
            border: 0;
            background-color: transparent;
        } */
        

        .chatting_userlist_printarea_profile>*{
            margin-left: 20px;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        /* 출근 중 직원 / 사원프로필 테두리 */
        .chatting_userlist_printarea_profile_img_green{
            border-radius: 100%;
            border: 1px solid #AEAEAE;
        }

        /* 출근 안한 직원 */
        .chatting_userlist_printarea_profile_img_gray{
            border-radius: 100%;
            border: 3px solid #AEAEAE;
        }
     /* userlist 끝 */
	
	
	
	
	
	/* 채팅방목록 시작 */
	
	#chatting_chattingroomlist{
            /* border: 1px solid red; */
            width: 100%;
            display: flex;
            flex-direction: column;
        }

         /* 검색창 */
         #chatting_chattingroomlist_search{
            /* border: 1px solid blue; */
            width: 100%;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: -2px;
            padding-top: 20px;
            position: fixed;
            background-color: white;
        }

         #chatting_chattingroomlist_search>div{
            border: 1px solid black;
            width: 100%;
            height: 40px;
            /* background-color: aqua; */
            border-radius: 15px;
            display: flex;
            align-items: center;
            
           
            margin: 0 100px 0 20px;
        }

         #chatting_chattingroomlist_search>div>img{
           /*  border: 1px solid red; */
            margin-left: 10px;
        }

         #chatting_chattingroomlist_search>div>input{
            /* border: 1px solid red; */
            height: 80%;
            width: 100%;
           	border: 0;
        }

         #chatting_chattingroomlist_search>div>p{
            /* border: 1px solid red; */
            height: 100%;
            font-size: 20px;
            align-content: center;
            margin-left: auto;
            margin-right: 10px;
            cursor: pointer;
        }
        /* 검색창 끝 */

        #chatting_chattingroomlist_printarea_all{
            /* border: 1px solid red; */
            margin-top: 75px;
            padding: 0 20px 0 20px;
        }

        .chatting_chattingroomlist_printarea{
            /* border: 1px solid red; */
            width: 100%;
            display: flex;
            margin-bottom: 10px;
            padding: 10px 0 10px 0;
            cursor: pointer;
            height: 65px;
        }
        
        .chatting_chattingroomlist_printarea:hover{
        	background-color: #AEAEAE;
        }

        .chatting_chattingroomlist_printarea>*{
            margin-left: 10px;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .chatting_chattingroomlist_printarea_profile{
            /* margin-bottom: 30px; */
            margin-left: 20px;
        }

        /* .chatting_chattingroomlist_printarea_profile>button{
            border: 0;
            background-color: transparent;
        } */

        .chatting_chattingroomlist_printarea_profile_img{
            border-radius: 100%;
            /* background-color: red; */
        }

        .chatting_chattingroomlist_printarea>div>div{
            /* background-color: red; */
            display: flex;
            /* margin-left: 30px; */
        }

        .chatting_chattingroomlist_printarea>div>div>p:nth-child(2){
            margin-left: 20px;
            color: #888282;
        }

        .chatting_chattingroomlist_printarea>div>div>p{
            margin: 0;
        }
        
        
		.chatting_chattingroomlist_printarea>div:nth-child(2){
			position: relative; /* 부모 div의 위치를 상대적으로 설정 */
	    	overflow: hidden; /* 자식 요소가 부모를 넘어서면 잘리게 설정 */
	    	width: auto;
	    	/* background-color: blue; */
		}
		
		/* .chatting_chattingroomlist_printarea>div:nth-child(2)>div{
			width: 100%;
			background-color: red;
		} */
		
		
		/* 채팅목록에서 출력되는 메세지 내역 */
        .chatting_chattingroomlist_printarea>div:nth-child(2)>p{
            margin: 0;
            margin-top: 10px;
            /* background-color: red; */
            overflow: hidden; /* p 태그의 내용이 넘치면 잘리게 설정 */
		    text-overflow: ellipsis; /* 내용이 넘칠 경우 '...'으로 표시 */
		    white-space: nowrap; /* 내용이 줄 바꿈 없이 한 줄로 유지되게 설정 */
		    width: 100%;
        }
        
		/* 채팅목록에서 날짜, 안읽은 수 */
		.chatting_chattingroomlist_printarea>div:nth-child(3){
            /* background-color: red; */
            margin-left: auto;
            margin-right: 10px;
            color: #888282;
        }

        .chatting_chattingroomlist_printarea>div:nth-child(3)>p:nth-child(1){
            /* background-color: red; */
            /* margin-left: auto;
            margin-right: 10px; */
            color: #888282;
        }
        
        .chatting_chattingroomlist_printarea>div:nth-child(3)>p:nth-child(2){
            /* margin-left: auto;
            margin-right: 10px;*/
            color: white;
            /* color: red; */
            background-color: #ff0000b3;
            /* background-color: #E56C6C; */
            /* border: 1px solid black;  */
            margin-top: 5px;
            padding: 0 4px 0 4px;
            float: right;
            border-radius: 100%;
        }
	
	/* 채팅방목록 끝 */
	
	
	/* 채팅방목록 - 채팅방없을때 */
	.chatting_chattingroomlist_printarea_nochatroom{
		display: flex;
		justify-content: center;
		align-items: flex-end;
		height: 150px;
	}
	
	.chatting_chattingroomlist_printarea_nochatroom>p{
		font-size: 24px;
		font-weight: bolder;
	}
	/* 채팅방목록 - 채팅방없을때 닫 */
	
	
	/* 모달창 - 채팅방추가 */
	#modal_chatinvitation {
	    display: none;  /* 기본적으로 숨김 */
	    position: fixed;
	    z-index: 1;
	    left: 0;
	    top: 0;
	    width: 100%;
	    height: 100%;
	    overflow: auto;
	    /* background-color: rgb(0, 0, 0); Fallback 색상
	    background-color: rgba(0, 0, 0, 0.4); 불투명 배경 */
	}
	
	#modal_chatinvitation>div{
		/* background-color: #fefefe; */
	    margin: 230px auto auto 80px; /* 상단에서부터 15% 떨어지고 가운데 정렬 */
	    padding: 0px;
	    border: 1px solid #888;
	    border-radius: 5px;
	    width: 100px; /* 너비를 조절하여 적절하게 설정 */
	    height: auto;
	   
	}
	
	#modal_chatinvitation>div>div{
		display: flex;
   		justify-content: space-around;
   		
 		cursor: pointer;
	    background-color: #ffffff;
	    border-radius: 5px;
	    /* border: 1px solid #888; */
	    text-align: center;
	    width: 100%;
	}
	
	#modal_chatinvitation>div>div:hover{
		background-color: #e3f3ff;
	}
	/* 모달창 끝 */
	
	
	
	
	/* 모달창 사원 프로필 */
	#modal_empprofile{
		display: none;  /* 기본적으로 숨김 */
	    position: fixed;
	    z-index: 1;
	    left: 0;
	    top: 0;
	    width: 100%;
	    height: 100%;
	    overflow: auto;
	    background-color: rgb(0, 0, 0);
	    background-color: rgba(0, 0, 0, 0.1);
	}
	
	
	#modal_empprofile>div{
		display:flex;
		flex-direction:column;
	
		background-color: #fefefe;
	    margin: 50px auto auto auto;
	    padding: 0px;
	    border: 3px solid #888;
	    width: 350px; 
	    height: auto;
	    /* max-height: 500px; */
	    
	    position: relative;
	    
	    border-radius: 20px;
	}
	
	/* 프로필사진, 이름직급, 1:1채팅바로가기 */
	#modal_empprofile_top{
		display: flex;
		flex-direction: column;
		/* margin: 10px; */
		padding: 10px 0 10px 0; 
		width: 100%;
		
	}
	
	#modal_empprofile_top>div {
		display:flex;
		justify-content: center;
		align-items: center;
	}
	
	#modal_empprofile_top>div:first-child {
		justify-content: flex-end;
		/* background-color: red; */
		padding: 0;
		margin-top: 10px;
	}
	
	/* #modal_empprofile_top>div:nth-of-type(1) {
		background-color: red;
	
	} */
	/* X 버튼 */
	#modal_empprofile_top>div:nth-of-type(1)>button {
		margin-right: 20px;
	 	cursor: pointer;
	 	border: none;
	 	font-size: 20px;
		font-weight: bolder;
		background-color: white;
	 	
	}
	
	/* #modal_empprofile_top>div:nth-of-type(2) {
		background-color: red;
	
	} */
	/* 프로필 */
	#modal_empprofile_top>div:nth-of-type(2)>img {
		/* background-color: red; */
		border-radius: 100%;
	}
	
	/* #modal_empprofile_top>div:nth-of-type(3) {
		background-color: red;	
	} */
	
	#modal_empprofile_top>div:nth-of-type(4) {
		/* background-color: red; */
		margin-top: -20px;
	}
	
	#modal_empprofile_top>div:nth-of-type(4)>*{
		cursor: pointer;
	}
	/* 프로필사진, 이름직급, 1:1채팅바로가기 끝 */

	
	/* 부서직급, 연락처, 이메일주소 */
	#modal_empprofile_middle{
		/* box-sizing: border-box; */
		display: flex;
		flex-direction: column;
		margin: 20px 20px 20px 20px;  
		width: calc(100% - 40px);
		background-color: #386ed514;
		/* margin-right: -20px; */
		
		border-radius: 16px;
		
	}
	
	#modal_empprofile_middle>div {
		display:flex;
		flex-direction:column;
		width: 100%;
		margin: 10px 0 10px 0;
	}
	
	#modal_empprofile_middle>div>h3 {
		margin: 5px 0 0 20px;
	}
	
	#modal_empprofile_middle>div>p {
		margin: 5px 0 0 30px;
	}
	
	/* 부서/직급 */
	/* #modal_empprofile_middle>div:nth-of-type(1) {
		background-color: red;
		
		
	} */
	
	
	/* 부서직급, 연락처, 이메일주소 끝 */
	
	
	
	/* 모달창 사원 프로필 끝 */
	
	
	
	
	
	
	
	
	
