@charset "UTF-8";

	
	body{
		margin: 0;
	    padding: 0;
	}
	      
    #chatting_main{
      	width: 100%;
      	/* border: 1px solid red; */
		display: flex;
	}
	
	#chatting_main_content{
		width: 100%;
		margin-left: 80px;
		/* border: 1px solid red; */
		/* height: 100px; */
	}
	
	
	/* userlist 시작 */
	#chatting_userlist{
           /*  border: 1px solid red; */
            width: 100%;
            /* height: 100vh; */
            display: flex;
            flex-direction: column;
            
        }

        /* 검색창 */
        #chatting_userlist_search{
            /* border: 1px solid blue; */
            width: 100%;
            height: auto;
            display: flex;
            flex-direction:column;
            align-items: center;
            justify-content: center;
            margin-top: -5px;
            padding-top: 20px;
            position: fixed;
            background-color: white;
        }
        
        #chatting_userlist_search>h3{
       	 	width: 80%;
		    margin: 0 0 5px 0; /* 기본 마진 제거 */
		    text-align: left; /* 왼쪽 정렬 */
		    /* padding-left: 10px; */ /* 왼쪽 여백 추가 (필요에 따라 조정) */
        }

        #chatting_userlist_search>div{
            border: 1px solid black;
            width: 70%;
            height: 40px;
            /* background-color: aqua; */
            border-radius: 15px;
            display: flex;
            align-items: center;
            
           
            margin: 0 100px 5px 20px;
        }

        #chatting_userlist_search>div>img{
           /*  border: 1px solid red; */
            margin-left: 10px;
        }

        #chatting_userlist_search>div>input{
            /* border: 1px solid red; */
            height: 80%;
            width: 100%;
           	border: 0;
        }
        
         #chatting_userlist_search>div>input:first-child{
         	margin-left: 15px;
         }

        #chatting_userlist_search>div>p{
            /* border: 1px solid red; */
            height: 100%;
            font-size: 20px;
            align-content: center;
            margin-left: auto;
            margin-right: 10px;
            cursor: pointer;
        }
        /* 검색창 끝 */
        
        #chatting_userlist_printarea_all{
            margin-top: 120px;
            padding: 0 20px 0 20px;
        }

        .chatting_userlist_printarea{
            /* border: 1px solid red; */
            width: 100%;
        }
        
        .chatting_userlist_printarea>div:hover{
        	background-color: #AEAEAE;
        }

        .chatting_userlist_printarea_profile{
            display: flex;
            margin-bottom: 10px;
        }

        .chatting_userlist_printarea_profile>button{
            border: 0;
            background-color: transparent;
        }
        

        .chatting_userlist_printarea_profile>*{
            margin-left: 20px;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

		.chatting_userlist_printarea_profile>input{
			margin-left: auto;
			margin-right: 60px;
		}


        /* 출근 중 직원 */
        .chatting_userlist_printarea_profile_img_green{
            border-radius: 100%;
            border: 3px solid #46EA4D;
        }

        /* 출근 안한 직원 */
        .chatting_userlist_printarea_profile_img_gray{
            border-radius: 100%;
            border: 3px solid #AEAEAE;
        }
     /* userlist 끝 */
	
	
	/* 채팅방 생성 버튼 */
	#create_chatroom{
		float: right;
		margin: 0 20px 10px 0;
	}
	
	
	